---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<"blog">[] =
    await getCollection("blog");

  return allBlogArticles.map((article) => ({
      params: {
        slug: article.slug,
      },

      props: {
        article,
      },
    }));
}

const { article } = Astro.props;
---

<MainLayout>
  <h1>{article.data.title}</h1>
  <p>{article.body}</p>
</MainLayout>
