---
import { formatDate, getAssetImg } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";
const { article } = Astro.props;
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Image } from 'astro:assets';

interface Props {
  article: CollectionEntry<"blog">;
}

const imagePath = article.data.image;

---

<Card className="max-w-md mx-auto mt-10">
  <CardHeader>
    <Image
      src={getAssetImg(article.data.image)()}
      alt="Article Image"
      class="h-auto rounded-sm"
    />
  </CardHeader>
  <CardContent>
    <CardTitle>
      <a href={"/articles/" + article.slug}>{article.data.title}</a>
    </CardTitle>
    <CardDescription>{formatDate(article.data.pubDate)}</CardDescription>
  </CardContent>
  <CardFooter>
    <Tags tags={article.data.tags} />
  </CardFooter>
</Card>
