---
import { ModeToggle } from "@/components/ModeToggle";
import { Button } from "@/components/ui/button";
const currentPage = Astro.url.pathname;

const navigationLinks = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "All Articles",
    href: "/articles",
  },
  {
    name: "About",
    href: "/about",
  },
];
---

<nav>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div>
      {
        navigationLinks.map((link) => (
          <a href={link.href}>
            <Button variant={currentPage === link.href ? "secondary": "outline"}>{link.name}</Button>
          </a>
        ))
      }
    </div>
    <ModeToggle client:load />
  </div>
</nav>
