---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Search } from "lucide-react";
---

<form
  id="search-form"
  class="flex items-center gap-3"
  action="/articles/search"
>
  <Label className="sr-only">
    Search
    <Input type="text" name="query" placeholder="Search" required />
  </Label>
  <Button type="submit"><Search size="1em" /></Button>
</form>
